<!-- <p>lami works!</p> -->
<app-nav></app-nav>

<div class="">
  <h1 style="text-align: center">Bitácora de Operación</h1>
  <h3 style="text-align: center">Máquina: Laminadora</h3>
<!--   <h4 style="text-align: center;">Orden de Producción: <a style="color: #33C4A8; pointer-events: none;" href="">{{ordenpro}}</a></h4> -->
</div>
<hr>
<div class="col-md-12 mb-3">
  <form class="needs-validation" [formGroup]="miForm">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label class="text-success">Operación</label>
        <select class="form-select" formControlName="operacion">
          <option value="">Selecciona la Operación</option>
          <option>Arranque</option>
          <option>Paro de Actividad</option>
          <option>Cambio de Parámetros</option>
        </select>
      </div>
        <!-- <input type="hidden" [(ngModel)]="ordenpro" class="form-control" formControlName="ordenpro" class="form-control" readonly> -->
        <input type="hidden" ngModel="{{now|date:'dd-MM-yyyy'}}" class="form-control" formControlName="ordenpro" class="form-control" readonly>
        <input type="hidden" ngModel="{{now|date:'dd-MM-yyyy'}}" class="form-control" formControlName="fecha" class="form-control" readonly>
        <input type="hidden" ngModel="{{now|date:'HH:mm:ss'}}" class="form-control" formControlName="hora" readonly>
        <input type="hidden" [(ngModel)]="name_complet" readonly class="form-control-plaintext" formControlName="responsable">

      <div class="col-md-2 mb-3">
        <label class="text-success">Velocidad Inicial (RPM)</label>
        <input type="number" min="0" class="form-control" formControlName="velocidadON">
      </div>

      <div class="col-md-2 mb-3">
        <label class="text-success">Velocidad Final (RPM)</label>
        <input type="number" min="0" class="form-control" formControlName="velocidadOFF">
      </div>

<!--       <div class="col-md-6 mb-3">
        <label class="text-success">Observaciones</label>
        <input type="text" class="form-control" formControlName="observacion">
      </div>
    </div> -->

    <!-- <div class="form-row"> -->
      <div class="col-md-2 mb-3">
        <label class="text-success">Orden y Limpieza</label>
        <select class="form-select" formControlName="campo1">
          <option value="">Orden y Limpieza</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label class="text-success">Máquina conectada y encendida</label>
        <select class="form-select" formControlName="campo2">
          <option value="">Máquina conectada y encendida</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label class="text-success">Potenciómetro en 0</label>
        <select class="form-select" formControlName="campo3">
          <option value="">Potenciómetro en 0</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label class="text-success">Potenciómetro en luz verder "Drive"</label>
        <select class="form-select" formControlName="campo4">
          <option value="">Potenciómetro en luz verder "Drive"</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label class="text-success">Cadenas en buen estado</label>
        <select class="form-select" formControlName="campo5">
          <option value="">Cadenas en buen estado</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label class="text-success">Opresores en buenas condiciones</label>
        <select class="form-select" formControlName="campo6">
          <option value="">Opresores en buenas condiciones</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label class="text-success">Primer medida entre la separación del folio protector con respecto al papel, al iniciar un arranque</label>
        <input type="text" class="form-control" formControlName="campo7">
      </div>
      <div class="col-md-3 mb-3">
        <label class="text-success">La medida se encuentra dentro de las tolerancias pactadas</label>
        <input type="text" class="form-control" formControlName="campo8">
      </div>
      <div class="col-md-5 mb-3">
        <label class="text-success">Observaciones</label>
        <input type="text" class="form-control" formControlName="observaciones">
      </div>

    <!-- </div> -->
  </div>
<button class="btn btn-primary" (click)="Postbitlami()">Insertar Datos</button>

<!--     <h3>Respuestas Formulario</h3>
  <pre>Valid:{{miForm.valid}}</pre>
  <pre>{{miForm.value | json}}</pre> -->
  </form>
</div>
<div  class="table-responsive">
  <table  class="table table-hover table-bordered table-responsive" style="font-size: .7em;">
    <thead class="table-primary">
      <th>Operación</th>
      <th>Fecha Registro</th>
      <th>Hora Registro</th>
      <th>Velocidad Inicial</th>
      <th>Velocidad Final</th>
      <th>Orden y Limpieza</th>
      <th>Máquina Conectada</th>
      <th>Potenciómetro en 0</th>
      <th>Potenciómetro en Verde</th>
      <th>Cadenas en buen Estado</th>
      <th>Opresores en buenas condiciones</th>
      <th>Separación del folio protector con respecto al papel</th>
      <th>La medida se encuentra dentro de las tolerancias</th>
      <th>Responsable</th>
      <th>Observaciones</th>
      <th>Acción</th>
    </thead>
    <tbody>
      <tr *ngFor="let information of clientesServices.infolami" style="font-size: .8em;">
        <td>{{information.operacion}}</td>
        <td>{{information.fecha}}</td>
        <td>{{information.hora}}</td>
        <td>{{information.velocidadON}}</td>
        <td>{{information.velocidadOFF}}</td>
        <td>{{information.campo1}}</td>
        <td>{{information.campo2}}</td>
        <td>{{information.campo3}}</td>
        <td>{{information.campo4}}</td>
        <td>{{information.campo5}}</td>
        <td>{{information.campo6}}</td>
        <td>{{information.campo7}}</td>
        <td>{{information.campo8}}</td>
        <td>{{information.responsable}}</td>
        <td>{{information.observaciones}}</td>
        <td><button class="btn btn-danger btn-sm" (click)="delateinfo(information.id_lami)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!--   <div *ngIf="num" class="container col-md-12 mb-3">
    <button class="btn btn-primary" type="submit" (click)="finalizar()">Finalizar</button>
  </div> -->
  <div class="form-row  col-md-12 mb-3">
    <div class="col-md-6 mb-3">
      <button class="btn btn-primary" type="submit" (click)="finalizar()">Finalizar</button>
    </div>

<!--     <div class="text-right col-md-6 mb-3">
      <button class="btn btn-primary" type="submit" (click)="bit2()" target="_blank">Bitacora 2</button>
    </div> -->
  </div>
