<!-- <p>cortedisco works!</p> -->
<app-nav></app-nav>
<br>
<div class="">
  <h1 style="text-align: center">Bitácora de Operación</h1>
  <h3 style="text-align: center">Máquina: Corte con Disco</h3>
<!--   <h4 style="text-align: center;">Orden de Producción: <a style="color: #33C4A8; pointer-events: none;" href="">{{ordenpro}}</a></h4> -->
</div>
<hr>
<div class="col-md-12 mb-3">
  <form class="needs-validation" [formGroup]="miForm">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label class="text-success">Operación</label>
        <select class="form-select" formControlName="operacion">
          <option value="">Operación</option>
          <option>Arranque</option>
          <option>Paro de Actividad</option>
          <option>Cambio de Parámetros</option>
        </select>
      </div>
        <!-- <input type="hidden" [(ngModel)]="ordenpro" class="form-control" formControlName="ordenpro" class="form-control" readonly> -->
        <input type="hidden" ngModel="{{now|date:'dd-MM-yyyy'}}" class="form-control" formControlName="ordenpro" class="form-control" readonly>
        <input type="hidden" ngModel="{{now|date:'dd-MM-yyyy'}}" class="form-control" formControlName="fecha" class="form-control" readonly>
        <input type="hidden" ngModel="{{now|date:'HH:mm:ss'}}" class="form-control" formControlName="hora" readonly>
        <input type="hidden" [(ngModel)]="name_complet" readonly class="form-control-plaintext" formControlName="responsable">

<!--       <div class="col-md-6 mb-3">
        <label class="text-success">Observaciones</label>
        <input type="text" class="form-control" formControlName="observacion">
      </div>
    </div> -->

    <!-- <div class="form-row"> -->
      <div class="col-md-5 mb-3">
        <label class="text-success">Distancia de la pared de la mordaza con respecto a la cuchilla (cm)</label>
        <input type="text" class="form-control" formControlName="distancia">
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Orden y Limpieza</label>
        <select class="form-select" formControlName="campo1">
          <option value="">Orden y Limpieza</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Máquina con el switch e interruptores desactivados</label>
        <select class="form-select" formControlName="campo2">
          <option value="">Switch e interruptores desactivados</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Selección de disco correcto para el corte</label>
        <select class="form-select" formControlName="campo3">
          <option value="">Disco correcto para el corte</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Cuchilla a utilizar en buenas condiciones y afilada</label>
        <select class="form-select" formControlName="campo4">
          <option value="">Cuchilla en buenas condiciones</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Disco a utilizar ajustado con la contratuerca</label>
        <select class="form-select" formControlName="campo5">
          <option value="">Disco ajustado</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Cuchilla lubricada (en caso de usar navaja)</label>
        <select class="form-select" formControlName="campo6">
          <option value="">Cuchilla lubricada</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label class="text-success">Guarda de seguridad colocada (al usar disco de cierra)</label>
        <select class="form-select" formControlName="campo7">
          <option value="">Guarda de seguridad</option>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-5 mb-3">
        <label class="text-success">Ancho resultante de la primer bobina cortada al iniciar un arranque (cm)</label>
        <input type="text" class="form-control" formControlName="campo8">
      </div>
      <div class="col-md-4 mb-3">
        <label class="text-success">La bobina se encuentra dentro de las tolerancias pactadas</label>
        <input type="text" class="form-control" formControlName="campo9">
      </div>
      <div class="col-md-5 mb-3">
        <label class="text-success">Observaciones</label>
        <input type="text" class="form-control" formControlName="observaciones">
      </div>

    <!-- </div> -->
  </div>
<button class="btn btn-primary" (click)="Post()" [disabled]="!miForm.valid">Insertar Datos</button>

<!--     <h3>Respuestas Formulario</h3>
  <pre>Valid:{{miForm.valid}}</pre>
  <pre>{{miForm.value | json}}</pre> -->
  </form>
</div>
<div  class="table-responsive">
  <table  class="table table-hover table-bordered table-responsive" style="font-size: .7em;">
    <thead class="table-primary">
      <th>Operación</th>
      <th>Fecha Registro</th>
      <th>Hora Registro</th>
      <th>Distancia de la pared (cm)</th>
      <th>Orden y Limpieza</th>
      <th>Máquina con el switch desactivado</th>
      <th>Selección de disco correcto para el corte</th>
      <th>Cuchilla a utilizar en buenas condiciones</th>
      <th>Disco a utilizar ajustado con la contratuerca</th>
      <th>Cuchilla lubricada (al usar navaja)</th>
      <th>Guarda de seguridad colocada (al usar disco cierra)</th>
      <th>Ancho resultante de la primer bobina cortada </th>
      <th>La bobina se encuentra dentro de las tolerancias</th>
      <th>Responsable</th>
      <th>Observaciones</th>
      <th>Acción</th>
    </thead>
    <tbody>
      <tr *ngFor="let information of operations.bitcortedisco" style="font-size: .8em;">
        <td>{{information.operacion}}</td>
        <td>{{information.fecha}}</td>
        <td>{{information.hora}}</td>
        <td>{{information.distancia}}</td>
        <td>{{information.campo1}}</td>
        <td>{{information.campo2}}</td>
        <td>{{information.campo3}}</td>
        <td>{{information.campo4}}</td>
        <td>{{information.campo5}}</td>
        <td>{{information.campo6}}</td>
        <td>{{information.campo7}}</td>
        <td>{{information.campo8}}</td>
        <td>{{information.campo9}}</td>
        <td>{{information.responsable}}</td>
        <td>{{information.observaciones}}</td>
        <td><button class="btn btn-danger btn-sm" (click)="delateinfo(information.id_bitcortedisco)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!--   <div *ngIf="num" class="container col-md-12 mb-3">
    <button class="btn btn-primary" type="submit" (click)="finalizar()">Finalizar</button>
  </div> -->
  <div class="form-row  col-md-12 mb-3">
    <div class="col-md-6 mb-3">
      <button class="btn btn-primary" type="submit" (click)="finalizar()">Finalizar</button>
    </div>

<!--     <div class="text-right col-md-6 mb-3">
      <button class="btn btn-primary" type="submit" (click)="bit2()" target="_blank">Bitacora 2</button>
    </div> -->
  </div>
